$control-panel-width: 250px;

// palette https://coolors.co/7aabf9-fbfbfb-eceff1-535c6b-121f35
// duplicated in canvas
$color-primary:   #121F35;
$color-secondary: #535c6b;
$color-vivid:     #7AABF9;
$color-muted:     #ECEFF1;
$color-empty:     #fbfbfb;
